body {
	background-color: #B8D1DC;
}

a {
	color: #003366;
}
blockquote {
	border: 2px double #94AEC5;
	margin: 5px;
	padding: 5px;
	background-color: #C6DBE3;
}
.box1 {
	border: 2px solid #548CC5;
	margin: 10px;
	padding: 10px;
}

body,blockquote,td {
	font-size: 13px;
	color: #003366;
}
a:hover {
	position: relative;
	left: -1px;
	top: -1px;
}